/* Custom responsive stylesheet by Webs Coder [Rafiul Alom] */

@media only screen and (max-width: 1200px){
	.search-bar{
		padding-top: 35px;
	}
	#navigation li a{
		font-size: 14px;
		padding: 8px;
	}
	.qContact{
		font-size: 14px;
		padding: 15px 0;


	}
	.footer-tagline{
		margin-top: 45px;
	}
	.knowledge-item h3{
		font-size: 14px;
	}
	.knowledge-item p{
		font-size: 12px;
	}
	.item-price{
		font-size: 16px;
	}
	.knowledge-item p.item-comments{
		font-size: 10px;
		margin-left: 50px;
	}
	.item-comments span{
		font-size: 8px;
	}
	.knowledge-item{
		height: 340px;
	}
	.quote-pannel{
		background-size: 100% 100%;
		padding: 40px 35px 165px 100px
	}
	.quote-pannel p{
		font-size: 22px;
	}
	.grid-list1 li h4, .grid-list3 li h4, .grid-list2 li h4{
		font-size: 20px;
	}
	.grid-height1{
		height: 700px;
	}
	.grid-height2{
		height: 460px;
	}
	#grid-help h3.advice{
		font-size: 26px;
	}
	.carousel-caption {
		right: 3%;
		bottom: 60px;
	}
	.carousel-caption h3{
		font-size: 40px;
	}
	.carousel-caption p{
		font-size: 16px;
	}
}
@media only screen and (max-width: 992px){
	.search-bar{
		padding-top: 40px;
	}
	#navigation li a{
		font-size: 11px;
		padding: 8px 4px;
	}
	.qContact{
		font-size: 11px;
	}
	.footer-logo{
		width: 45%;
		margin-right: 5%;
	}
	.footer-tagline{
		margin: 0px;
		float: left;
		width: 47%;
		padding-left: 20px;
	}
	.footer-copy-section{
		font-size: 12px;
	}
	.footer-social{
		margin-bottom: 15px;
	}
	.list-about-sidebar li a{
		font-size: 18px;
		line-height: 25px;
	}
	.list-about-sidebar li.list-custom{
		font-size: 12px;
		font-weight: bold;
		font-style: normal;
		font-family: Arial, Helvetica, sans-serif;
	}
	.list-about-sidebar li.list-custom a{
		font-size: 12px;
		color: #19afe6;
	}
	.quotes p{
		font-size: 12px;
	}
	.pagi-navi li{
		font-size: 11px;
		margin-right:5px;
		height: 25px;
		line-height: 25px;
	}	
	.pagi-navi li a{
		padding: 0 4px;
		min-width: 20px;
	}
	.pagi-navi li:last-child{
		margin-right: 0;
	}
	.knowledge-item h3{
		font-size: 13px;
	}
	.knowledge-item p{
		font-size: 11px;
	}
	.item-price{
		font-size: 18px;
		float: none;
		margin-bottom: 10px;
	}
	.knowledge-item p.item-comments{
		font-size: 12px;
		margin-left: 0px;
		text-align: left;
	}
	.item-comments span{
		font-size: 10px;
	}
	.knowledge-widget h3{
		font-size: 18px;
	}
	.grid-height2{
		height: 425px;
	}
	.grid-height1{
		height: 670px;
	}
	.grid-height2 h3, .grid-height1 h3{
		font-size: 25px;
		margin-bottom: 20px;
	}
	.grid-list1 li h4, .grid-list3 li h4, .grid-list2 li h4{
		font-size: 18px;
	}
	.grid-list1 li p, .grid-list2 li p{
		font-size: 12px;
		margin-bottom: 0;
	}
	.posted{
		font-size: 11px;
	}
	#grid-help h3.advice{
		font-size: 20px;
		margin-top: 40px;
	}
	.event-title h4{
		font-size: 18px;
	}	
	.carousel-caption {
		right: 3%;
		bottom: 40px;
	}
	.carousel-caption h3{
		font-size: 35px;
	}
	.carousel-caption p{
		font-size: 14px;
	}
}

@media only screen and (max-width: 767px){	
	.search-label{
		display: none;
	}
	.search-bar{
		float: right;
		padding-right: 60px;
		padding-top: 70px;
		padding-bottom: 10px;
		background: url(../images/search-icon2.png) no-repeat right bottom;
	}
	.search-bar .form-group{
		margin-bottom: 0;
	}
	.qContact{
		font-size: 14px;
	}
	#navigation{
		float: none;
		overflow: hidden;
		display: none;
	}
	#navigation2{
		margin: 0;
		padding: 0;
	}
	#navigation li{
		float: none;
	}
	.naver .naver-handle{
		float: right;
		color: #fff;
		font-size: 18px;
		margin-top: -32px;
	}
	.naver.enabled .naver-wrapper{
		clear: both;
	}
	#navigation2 li a{
		border-bottom: 1px solid #fff;
		display: block;
		padding: 5px;
		color: #fff;
		font-size: 16px;
	}
	#navigation2 li a:focus,
	#navigation2 li a:hover{
		text-decoration: none;
		color: #19afe6;
	}
	#navigation2 li ul{
		padding-left: 15px;
	}
	#navigation2 li ul li{
		list-style: none;
	}
	#navigation2 li ul li a{
		border-bottom: 1px solid #fff;
		display: block;
		padding: 5px;
		color: #fff;
		font-size: 14px;
	}
	#mobileMenu{
		display: block;
	}
	#sidebar,
	#page-content{
		height: auto !important;
	}
	#body-section .container{
		padding: 0;
	}
	.pagi-navi{
		overflow: hidden;
		text-align: center;
	}
	.pagi-navi.pull-right{
		float: none !important;
		margin-top: 15px;
	}
	.pagi-navi li{
		display: inline-block;
		float: none;
		margin: 0 4px;
	}
	.pagi-navi.pull-right li{
		margin: 0 4px;
	}
	.knowledge-item{
		text-align: center;
	}
	.knowledge-item p.item-comments{
		font-size: 12px;
		margin-left: 0px;
		text-align: center;
	}
	.knowledge-item{
		height: auto;
	}
	#slider-section{
		padding: 10px 0;
	}
	.carousel-indicators{
		bottom: -15px;
	}	
	.grid-height1,
	.grid-height2{ 
		height: auto; 
		padding: 20px 0;
	}
	.grid-bg4{
		background: #b4d2db;
	}
	#twitter-widget{
		text-align: center;
	}
	.grid-list1 li p, .grid-list2 li p{
		font-size: 14px;
		margin-bottom: 0;
	}
	.posted{
		font-size: 12px;
	}
	.footer-logo{
		width: 100%;
		text-align: center;
		margin-right: 0%;
		float: none;
		display: none;
		margin-bottom: 10px;
	}
	.footer-tagline{
		margin: 0px;
		float: none;
		width: 100%;
		padding-left: 0px;
		border: none;
		text-align: center;
		display: none;
	}
	.footer-copy-section{
		font-size: 14px;
		text-align: center;
	}
	.footer-social{
		margin-bottom: 25px;
		text-align: center;
	}
	.event-title h4{
		font-size: 22px;
	}	
	.carousel-caption {
		right: 3%;
		bottom: 15px;
	}
	.carousel-caption h3{
		font-size: 30px;
	}
	.carousel-caption p{
		font-size: 14px;
	}
}

@media only screen and (max-width: 600px){
	.search-bar{
		padding-top: 50px;
	}
	.alignright{
		float: none;
		margin-left: 0;
		margin-bottom: 20px;
	}
	.carousel-caption {
		left: 0;
		right: 0;
		bottom: 25px;
		padding: 10px;
		background: rgba(0, 0, 0, 0.25);
	}
	.carousel-caption h3{
		font-size: 30px;
	}
	.carousel-caption p{
		font-size: 14px;
	}	
}

@media only screen and (max-width: 479px){
	.search-bar{
		padding-top: 40px;
	}
	.footer-copy-section{
		font-size: 12px;
	}
	.carousel-caption h3{
		font-size: 25px;
		margin-bottom: 5px;
		padding-bottom: 5px;
	}
	.carousel-caption p{
		font-size: 12px;
		font-weight: normal;
	}

}

@media only screen and (max-width: 360px){	
	.carousel-caption h3{
		font-size: 20px;
		margin-bottom: 5px;
		padding-bottom: 5px;
	}
	.carousel-caption p{
		font-size: 11px;
		font-weight: normal;
	}
}