/*
**	Theme Name: PM Forum Responsive Bootstrap
**	Theme URI: N/A
**	Author: Rafiul Alom
**	Author URI: http://rafiul.me/
**	Description: PM Forum is PSD to Responsive Bootstrap front-end developments.
*/
body{
	background: #689aad;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: #575756;
}
/* font-family: Georgia, serif; */
img{ max-width: 100%; height: auto; border: none; }
a{ color: #19afe6; }
p{ font-size: 14px; }
h1, h2, h3, h4, h5, h6{
	color: #0c2546;
	margin: 0 0 30px 0;
	font-weight: bold;
	font-family: Georgia, serif;
}
h4, h5, h6{
	margin: 0 0 10px 0;
}
h6{
	font-size: 16px;
}
h5{
	font-size: 18px;
}
h4{
	font-size: 20px;
}
.about-content ul{
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;
}
.about-content li{
	display: block;
	margin-bottom : 10px !important;
	color: #575756;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	background: url(../images/spot.png) no-repeat 0 5px;
	padding-left: 25px;
}
.knowledge-content img, .about-content img{
	float: right;
	margin-left: 20px;
	margin-bottom: 15px;
}
.knowledge-content .searchItem , .about-content .item{
	margin-bottom: 20px;
}
.company-details{ 
	padding-bottom:30px; 
}
.action, button{
	background: #0c2546 url(../images/btn-further-info.png) no-repeat left center;
	display: inline-block;
	padding: 12px 20px 12px 40px;
	color: #fff;
	font-size: 14px;
	border: none;
	font-family: Georgia, serif;
	min-width: 150px;
	text-align: left;
	margin-top: 10px;
}
 /* start general form styling */
.form-inline form {
	display: block;
	width: 100%;
}

fieldset > div{
	padding: 10px;
	position: relative;
	float: left;
	width: 100%;
	
}
fieldset > div label{
	float: left;
	padding: 0 20px 0 0;
	text-align: right;
	width: 25%;
	letter-spacing:1px;
	line-height:35px;
	font-size: 14px;
	color: #0c2546;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

fieldset > div input , form textarea, form select{
	float:left;
	width: 40%;
	display: inline-block;
	border:1px solid white;
	color:#666666;
	font-family:Arial,Helvetica,sans-serif;
	padding: 6px 12px;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 4px;
	outline:none; /* Preventing the default Safari and Chrome text box highlight */
	line-height: 1.42857143;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

fieldset > div input {
	height: 34px;
}


form input:hover, form input:focus ,form textarea:focus {
	border-color:#66afe9;
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

form .checkbox input[type=checkbox]{
	width: 3%;
	margin-left: 25% !important;
	height: 10px;
}
form .checkbox + label {
	width: initial;
	line-height: 18px;
	margin-left: 10px;
}
form .action{
	margin-left: 5%;
	
}
.Actions{
	margin-left: 22%;
}
.Actions a{
	display: inline-block;
	margin-left: 5%;
	margin-top: 10px;
}
form .clear{
	display: none;
}
	/* end general form styling */
.section-common{
    position: relative;
    height: auto;
    width: 100%;
    display: block;
}
#header-section{
	background: #19afe6;
	height: auto;
}
#header-top{
	background: #19afe6;
	height: auto;
	width: 100%;
	overflow: hidden;
}
#logo{
	margin: 15px 0;
}
#logo a{
	display: inline-block;
}
.search-bar{
	float: right;
	padding-right: 80px;
	padding-top: 30px;
	padding-bottom: 10px;
	background: url(../images/search-icon.png) no-repeat right bottom;
}
.search-label{
	font-size: 26px;
	color: #0c2546;
	font-weight: bold;
	font-family: Georgia, serif;
}
.search-bar .form-control{
	font-style: italic;
	border: none;
	font-size: 16px;
	color: #0c2546;
	background: none;
	-webkit-box-shadow: none;
	moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-bottom: 1px solid #126996;
	font-family: Arial, Helvetica, sans-serif;
}
#header-bottom{
	background: #0c2546;
	height: auto;
	width: 100%;
}
.qContact{
	padding: 10px 0;
	font-size: 16px;
	color: #0c2546;
	margin-bottom: 0;
	font-family: Arial, Helvetica, sans-serif;
}
.qContact a{
	color: #0c2546;
	font-family: Arial, Helvetica, sans-serif;
}
.sep{
	padding: 0 5px;
	color: #234869;
}
#navigation{
	margin: 0;
	padding: 0;
	list-style: none;
}
#navigation li{
	float: left;
	position: relative;
}
#navigation li a{
	color: #fff;
	font-size: 16px;
	padding: 10px;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
}
#navigation li a:hover{
	text-decoration: none;
	color: #19afe6;
}
#navigation li a:hover:after{
	border-left: solid transparent 7px;
    border-right: solid transparent 7px;
    border-top: solid #19afe6 7px;
    top: 0px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 0;
}
#navigation li ul{
	display: none;
	position: absolute;
	top: 44px;
	left: 0;
	width: 160px;
	background: #132d50;
	z-index: 222;
	padding: 0;
	margin: 0;
	padding: 5px 0;
	list-style: none;
}
#navigation li:hover ul{
	display: block;
}
#navigation li ul li{
	float: none;
}
#navigation li ul li a{
	font-size: 14px;
	color: #fff;
	padding: 5px 15px;
	padding-left: 20px;
	display: block;
}
#navigation li ul li a:hover{}
#navigation li ul li a:hover:after{
	border-top: solid transparent 7px;
    border-bottom: solid transparent 7px;
    border-left: solid #19afe6 7px;
    top: 50%;
    content: " ";
    height: 0;
    left: 0;
    margin-left: 0px;
    margin-top: -7px;
    position: absolute;
    width: 0;
}
#mobileMenu{
	display: none;
}
#banner-section{
	height: auto;
	background: #538b9f url(../images/banner-bg.png) no-repeat right top;
	padding: 35px 0;
}
.banner-info{
	color: #fff;
	font-family: Georgia, serif;
}
.banner-info h3{
	font-size: 60px;
	font-style: italic;
	font-family: Georgia, serif;
	font-weight: bold;
	line-height: 65px;
	margin-bottom: 15px;
	margin-top: 30px;
	color: #fff;
}
.banner-info h3 span{
	border-bottom: 1px dashed #fff;
}
.banner-info h5{
	font-size: 20px;
	font-weight: bold;
	font-family: Georgia, serif;
	color: #fff;
}
.banner-info p{
	font-size: 14px;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}
#body-section{
	background: #fff;
}
#body-section.events-page{
	background: #f0f6f8;
	padding-top: 30px;
	padding-bottom: 30px;
}
#body-section.events-page .container,
#body-section.home-grid .container{
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
    height: auto;
}
#sidebar{
	background: #b4d2db;
	padding: 35px 0;
}
#page-content{
	background: #f0f6f8;
	padding: 35px 0;
}
.about-content,
.knowledge-content,
.about-sidebar,
.knowledge-sidebar,
.location-sidebar{
	padding: 0 20px;
}
.alignright{
	float: right;
	margin-left: 20px;
	margin-bottom: 15px;
}
.list-about{
	padding-left: 15px;
}
.list-about li{
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 25px;
}
.list-about-sidebar{
	margin: 0;
	padding: 0;
	list-style: none;
}
.list-about-sidebar li{
	display: block;
	border-bottom: 1px dashed #92acb3;
	margin-bottom: 20px;
	padding-bottom: 20px;
	color: #0c2546;
	font-style: italic;
	font-family: Georgia, serif;
}
.list-about-sidebar li:last-child{
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}
.list-about-sidebar li a{
	font-size: 26px;
	color: #0c2546;
	line-height: 35px;
}

.profile-edit-sidebar li a{
	font-size: inherit;
	color: #fff;
	line-height: inherit;
	text-decoration: none;
}

.list-about-sidebar li.list-custom{
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
}
.list-about-sidebar li.list-custom a{
	font-size: 14px;
	color: #19afe6;
}

.list-about-sidebar li.list-custom  .notice-box {
	background: #19afe6;
	height: auto;
	margin-bottom: 10px;
	padding: 15px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border: 0px solid #000000;
}

.list-about-sidebar li.general-content {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.list-about-sidebar li.general-content a {
	line-height: inherit;
	font-size: 14px;
  	color: #19afe6;
}

.list-about-sidebar li.sponsors a {
	margin-bottom: 12px;
	display: block;
	clear: both;
}
.list-about-sidebar li.sponsors a.first {
	margin-top: 20px;
}

.list-about-sidebar li.sponsors a.odd {
	float: left;
	margin-left: 20px;
}

.list-about-sidebar li.sponsors a.even {
	float: right;
	margin-right: 20px;
}

.list-about-sidebar li.sponsors p {
	clear: both;
	margin-top: 10px;
}
.list-about-sidebar li.sponsors p a {
	display: inline;
}

.quotes{
	margin: 0;
	padding: 0;
	font-weight: normal;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 30px;
	background: url(../images/arrow-left.png) no-repeat left top;
	margin-bottom: 20px;
}
.quotes p{
	font-size: 14px;
	color: #0c2546;
	font-style: italic;
	margin-bottom: 5px;
}
.quotes p.quotes-author{
	font-style: normal;
	font-size: 12px;
	color: #575756;
}
.quotes:last-child{
	margin-bottom: 0;
}
.event-item{
	border-bottom: 1px dashed #bcbcbc;
	padding-bottom: 20px;
	margin-bottom: 25px;
	height: auto;
	position: relative;
	overflow: hidden;
}
.event-item h3, h3.page-heading, .event-pannel h3{
	font-size: 30px;
	color: #0c2546;
	font-weight: bold;
	font-family: Georgia, serif;
	margin: 0 0 30px 0;
}

.event-item p, .event-pannel p {
	color: #575756;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 15px;	
}

.event-pannel p , .event-pannel a{
	text-align: left;
	color: #fff;
	font-weight: bold;
}

.event-pannel a[href^="mailto"] { color: #0c2546; }

.btn-further-info{
	background: #0c2546 url(../images/btn-further-info.png) no-repeat left center;
	display: inline-block;
	padding: 12px 20px 12px 40px;
	color: #fff;
	font-size: 14px;
	border: none;
	font-family: Georgia, serif;
	min-width: 150px;
	text-align: left;
}
.btn-further-info:hover{
	text-decoration: none;
	color: #19afe6;
}
.event-title{
	overflow: hidden;
	height: auto;
	margin-bottom: 10px;
}
.event-title h4{
	color: #19afe6;
	font-size: 22px;
	font-weight: bold;
	margin: 0 0 10px 0;
	font-family: Georgia, serif;
}
.event-title-desc{
	margin-left: 60px;
}
.event-title h4 a{
	color: #19afe6;
	text-decoration: none;
}
.event-title h4 a:hover{
	text-decoration: none;
	color: #0c2546;
}
.event-calendar{
	width: 48px;
	float: left;
	text-align: center;
	color: #0c2546;
	height: 54px;
	padding-top: 5px;
	line-height: normal;
	font-family: Georgia, serif;
}
.event-calendar strong{
	height: auto;
	line-height: normal;
	font-size: 22px;
}
.event-calendar span{
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}
.calendar-no-date{
	padding-top: 30px;
}
.calendar-bg1{ background: url(../images/calendar-bg1.png) no-repeat; }
.calendar-bg2{ background: url(../images/calendar-bg2.png) no-repeat; }
.calendar-bg3{ background: url(../images/calendar-bg3.png) no-repeat; }
.event-pannel{
	height: auto;
	margin-bottom: 10px;
	padding: 5px 15px 5px 15px;
}
.pannel-conf{
	background: #19afe6; 
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border: 0px solid #000000;
}
.pannel-ad{	background: #3b3b3d; }
.knowledge-sub-head{
	color: #575756;
	font-size: 14px;
	margin-bottom: 25px;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: 1px dashed #bcbcbc;
	padding-bottom: 20px;
	padding-left: 0px;
}
.pagi-filter-wrap{
	border-bottom: 1px dashed #bcbcbc;
	padding-bottom: 20px;
	height: auto;
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
}
.pagi-navi{
	margin: 0;
	padding: 0;
	list-style: none;
}
.pagi-navi li{
	float: left;
	font-size: 14px;
	color: #575756;
	vertical-align: middle;
	height: 30px;
	line-height: 30px;
	margin-right:8px;
	padding-left: 0px;
}
.pagi-navi.pull-right li{
	margin-right: 0;
	margin-left: 8px;
}
.pagi-navi li a{
	background: #deebef;
	display: inline-block;
	padding: 0 5px;
	min-width: 25px;
	text-align: center;
}
.pagi-navi li a.active{
	background: #fec00f;
	color: #0c2546;
}
.pagi-navi li a:hover{
	color: #fff;
	text-decoration: none;
	background: #0c2546;
}
.knowledge-item{
	overflow: hidden;
	position: relative;
	margin-bottom: 30px;
	border-bottom: 1px dashed #bcbcbc;
	padding-bottom: 15px;
	height: 420px;
}
.knowledge-item p.item-img{
	text-align: center;
	margin-bottom: 18px;
}
.knowledge-item h3{
	font-size: 16px;
	color: #19afe6;
	margin: 0 0 10px 0;
	font-weight: bold;
	font-family: Georgia, serif;
}
.knowledge-item h3 a{
	color: #19afe6;
	text-decoration: none;
}
.knowledge-item p{
	margin-bottom: 0;
	font-size: 14px;
	font-weight: bold;
	color: #575756;
	line-height: normal;
}
.knowledge-item-price{
	overflow: hidden;
	margin-top: 10px;
}
.item-price{
	float: left;
	font-size: 20px;
	margin: 0;
	color: #0c2546;
	font-family: Georgia, serif;
	font-weight: bold;
}
.knowledge-item p.item-comments{
	margin-left: 70px;
	text-align: right;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: normal;
}
.item-comments span{
	font-size: 10px;
	color: #777777;
}
.knowledge-widget{
	font-size: 14px;
	overflow: hidden;
	color: #0c2546;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: 1px dashed #92acb3;
	padding-bottom: 25px;
	margin-bottom: 25px;
	width:50%;
	float:left;
}
.location-widget{
	font-size: 14px;
	overflow: hidden;
	color: #0c2546;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: 1px dashed #92acb3;
	padding-bottom: 25px;
	margin-bottom: 25px;
}
.knowledge-widget:last-child,
.location-widget:last-child{
	border-bottom: none;
}
.location-widget h3,
.knowledge-widget h3{
	margin: 0 0 10px 0;
	font-size: 22px;
	color: #0c2546;
	font-family: Georgia, serif;
	font-weight: bold;
}
#sortBy{
	font-weight: bold;
}
.radio, .checkbox{
	margin-top: 0;
}
.knowledge-widget label{
	font-size: 14px;
	color: #0c2546;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
.knowledge-widget .radio label{
	font-weight: normal;
}

#go_to_button{
	display: block;
	color: #fff;
	height: 27px;
	width: 238px;
	background-color: #19afe6;
	cursor: pointer;
	border-radius: 10px;
	padding-left: 12px;
	padding-top: 3px;
	font-weight: bold;
	text-decoration: none;
	margin-top: 30px;
}
#about-section{
	background: #69a6b7;
	padding: 25px 0;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
}
.about-post{
	height: auto;
	position: relative;
}
.about-post h2{
	font-size: 30px;
	color: #fff;
	font-weight: bold;
	font-family: Georgia, serif;
	margin: 0 0 20px 0;
}
.about-post p{
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin-bottom: 20px;
}
.about-post-list{
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;
}
.about-post-list li{
	display: block;
}
.about-post-list li a{
	display: block;
	color: #fff;
	padding-left: 20px;
	background: url(../images/triangle.png) no-repeat left center;
}
.about-post-list li a:hover{}
.quote-pannel{
	padding: 30px 60px 165px 100px;
	font-family: Arial, Helvetica, sans-serif;
	background: url(../images/quote-pannel.png) no-repeat;
}
.quote-pannel blockquote{
	margin: 0;
	padding: 0;
	border: none;
}
.quote-pannel p{
	font-size: 25px;
	font-style: italic;
	line-height: normal;
}
.quote-author{
	text-align: right;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
#slider-section{
	background: #2c5871;
	color: #fff;
	font-size: 20px;
	padding: 20px 0;
	padding-bottom: 2px;
}
.grid-bg1{ background: #b4d2db; }
.grid-bg2{ background: #f0f6f8; }
.grid-bg3{ background: #fff; }
.grid-bg4{ background: #fff; }
.grid-bg5{ background: #19afe6; }
.grid-bg6{ background: #0789b9; }
.grid-height1{ height: 645px; padding: 30px 0; overflow: hidden; }
.grid-height2{ height: 460px; padding: 30px 0; overflow: hidden; }
.grid-height2 h3,
.grid-height1 h3{
	margin: 0 0 30px 0;
	color: #0c2546;
	font-size: 30px;
	font-weight: bold;
	font-family: Georgia, serif;
}
.grid-list1,
.grid-list3,
.grid-list2{
	margin: 0 0 10px 0;
	padding: 0;
	list-style: none;
}
.job-vacancy {
	height: 285px;
	overflow: scroll;
	overflow-x: hidden;
}

.grid-list1 li,
.grid-list3 li,
.grid-list2 li{
	display: block;
	padding-bottom: 10px;
	border-bottom: 1px dashed #92acb3;
	margin-bottom: 15px;
	overflow: hidden;
}
.grid-list1 li:last-child,
.grid-list2 li:last-child{
	border-bottom: none;
	margin-bottom: 0;
}
.grid-list1 li h4,
.grid-list3 li h4,
.grid-list2 li h4{
	font-size: 22px;
	color: #0c2546;
	margin: 0 0 10px 0;
	font-weight: bold;
	font-family: Georgia, serif;
}
.grid-list2 li h4 a{
	color: #0c2546;
	text-decoration: none;
}
.grid-list1 li h4 a:hover{
	color: #19afe6;
}
.grid-list1 li p,
.grid-list2 li p{
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	padding-bottom: 0;
}
.grid-list-img{
	float: left;
	margin-right: 10px;
	margin-bottom: 5px;
}
.grid-list2 li h4{
	color: #19afe6;
}
.grid-list2 li h4 a{
	color: #19afe6;
}
.grid-list2 li h4 a:hover{
	color: #0c2546;
}
.posted{
	margin-bottom: 10px;
	color: #575756;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
#twitter-widget{}
#grid-help{
	text-align: center;
	color: #fff;
}
#grid-help h3.advice{
	margin-top: 30px;
	margin-bottom: 0;
	color: #fff;
	font-size: 30px;
	font-family: Georgia, serif;
	text-transform: uppercase;
	font-weight: bold;
}
#grid-help a {
	color: #fff;
}
.grid-list3 li h4{
	font-size: 22px;
	color: #fff;
	margin: 0 0 10px 0;
	font-weight: bold;
	font-family: Georgia, serif;
}
.grid-list3 li h4 a{
	color: #fff;
	text-decoration: none;
}
.grid-list3 li h4 a:hover{
	color: #0c2546;
}
.grid-list3 .posted{
	color: #f0f6f8;
}
.list-event-reports{
	margin: 0 0 10px 0;
	padding: 0;
	list-style: none;
}
.list-event-reports li{
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	margin-bottom: 15px;
}
.list-event-reports li span{
	color: #0c2546;
}
.list-event-reports li a{
	color: #575756;
	display: block;
}
.list-event-reports li a:hover{}
.list-event-reports.old li a{
	color: #00749f;
}
.list-event-reports.old li a:hover{

}
.location-widget h5{
	color: #00749f;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin: 0 0 20px 0;
}
.location-desc{
	height: auto;
	padding-bottom: 15px;
	margin-bottom: 20px;
	border-bottom: 1px dashed #bcbcbc;
}
.list-benifits{
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;
}
.list-benifits li{
	display: block;
	margin-bottom: 15px;
	color: #575756;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	background: url(../images/tick.png) no-repeat 0 5px;
	padding-left: 25px;
}
.list-benifits li a{}
.list-benifits li a:hover{}
.section-title{
	font-size: 22px;
	color: #0c2546;
	font-weight: bold;
	font-family: Georgia, serif;
	margin: 0 0 20px 0;
}
.member-info{
	margin-bottom: 20px;
}
.member-info h5{
	font-size: 12px;
	color: #0c2546;
	font-weight: bold;
	margin: 0 0 5px 0;
	font-family: Arial, Helvetica, sans-serif;
}
.member-info p{
	font-size: 12px;
	color: #575756;
	font-family: Arial, Helvetica, sans-serif;
}

.member-info span {
	color: #00749f;
}

.map-image img{
	margin-left: 0px !important;
	margin-bottom: 0px !important;
	width: 208px
}

div.password{
	clear: both;
}

input.password {
	margin-bottom: 25px;
}

.scrollable {
	height: 468px;
	overflow: scroll;
	overflow-x: hidden;
}

.postTitle p {
	margin-top: 10px;
}

#grid-vacancies p, #grid-vacancies h3 a{
	color: #fff;
}
#grid-training h3{
	color: #0c2546;
}

#footer-section{
	background: #0c2546;
	padding: 25px 0;
	color: #fff;
	font-size: 14px;
}
.footer-logo{
	float: left;
}
.footer-tagline{
	text-transform: uppercase;
	margin: 65px 0 0 0;
	padding-left: 30px;
	border-left: 1px solid #253b59;
	color: #fff;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	margin-left: 240px;
}
.footer-copy-section{
	text-align: right;
	position: relative;
	height: auto;
	overflow: hidden;
	color: #c6c6c5;
}
.footer-social{
	margin-bottom: 45px;
	height: auto;
	overflow: hidden;
}
.footer-social a{
	padding-left: 15px;
	display: inline-block;
}
.footer-social span{
	color: #fff;
	font-size: 20px;
	display: inline-block;
	line-height: 25px;
	vertical-align: middle;
}


.carousel-caption {
	right: 5%;
	left: 55%;
	padding-bottom: 30px;
	text-align: left;
	bottom: 70px;
}
.carousel-caption h3{
	font-size: 60px;
	color: #fff;
	font-weight: bold;
	font-style: italic;
	font-family: Georgia, serif;
	margin: 0 0 10px 0;
	padding-bottom: 10px;
	border-bottom: 1px dashed #fff;
}
.carousel-caption p{
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-family: Georgia, serif;
	margin: 0;
}
/*css for surveys page*/
.list-event-reports ul{
	position:absolute;
    left:-9999px;
    background: #132d50;
    margin: 0;
}
.list-event-reports li:hover ul{
	left:0;
	
}

#Form_AdvanceReviewSearchForm_Keyword , #Form_AdvanceSearchForm_Keyword, #Form_AdvanceSearchForm_Date{
	margin-bottom: 15px;
	height: auto;
}
.list-event-reports li p{
	margin: 0px !important;
}
.quick-search {
	width:100%;
	float:left;
}
.search-form {
	width:92%;
}